/*FONTS FILES*/
@font-face {
    font-family: 'nunito sans';
    src: url(/fonts/nunito-sans/NunitoSans-Regular.ttf);
    src: url(/fonts/nunito-sans/NunitoSans-Italic.ttf);
    src: url(/fonts/nunito-sans/NunitoSans-Bold.ttf);
}

@font-face {
    
}