/*FONTS FILES*/
@font-face {
    font-family: 'nunito-sans';
    src: url(fonts/nunito-sans/NunitoSans-Regular.ttf);
    src: url(fonts/nunito-sans/NunitoSans-Italic.ttf);
    src: url(fonts/nunito-sans/NunitoSans-Bold.ttf);
}

@font-face {
    font-family: 'montserrat';
    src: url(fonts/montserrat/Montserrat-Regular.ttf);
    src: url(fonts/montserrat/Montserrat-Italic.ttf);
    src: url(fonts/montserrat/Montserrat-Bold.ttf);
}

@font-face {
    font-family: 'roboto';
    src: url(fonts/roboto/Roboto-Regular.ttf);
    src: url(fonts/roboto/Roboto-Italic.ttf);
    src: url(fonts/roboto/Roboto-Bold.ttf);  
}

body {
    font-family: 'montserrat';
    background-color: #ffffff;
    color: #161716;
    margin: 0 10%;
}

h1 {
    font-size: 35px;
    text-align: center;
}

h2 {
    font-size: 36px;
    text-decoration: underline;
}
.special {
    text-align: center;
    font-size: 35px;
}
.color-container, .fonts-container, .styles-container {
    border: 3px solid #a2a2a6;
    margin: 30px 30px;
    padding: 10px;
    overflow: auto;
    border-radius: 20px;
}
/*NUNITO SANS FONT*/
.nunito-sans {
    font-family: 'nunito-sans';
    font-style: normal;
    font-size: 24px;
}

.nunito-sans .normal-font {
    font-family: 'nunito-sans';
    font-style: normal;
    font-size: 14px;
}

.nunito-sans .italic-font {
    font-family: 'nunito-sans';
    font-style: italic;
    font-size: 16px;
}

.nunito-sans .bold-font {
    font-family: 'nunito-sans';
    font-weight: bold;
    font-size: 18px;
}
/*MONTSERRAT FONT*/
.montserrat {
    font-family: 'montserrat';
    font-style: normal;
    font-size: 24px;
}

.montserrat .normal-font {
    font-family: 'montserrat';
    font-style: normal;
    font-size: 14px;
}

.montserrat .italic-font {
    font-family: 'montserrat';
    font-style: italic;
    font-size: 16px;
}

.montserrat .bold-font {
    font-family: 'montserrat';
    font-weight: bold;
    font-size: 18px;
}
/*ROBOTO FONT*/
.roboto {
    font-family: 'roboto';
    font-style: normal;
    font-size: 24px;
}

.roboto .normal-font {
    font-family: 'roboto';
    font-style: normal;
    font-size: 14px;
}

.roboto .italic-font {
    font-family: 'roboto';
    font-style: italic;
    font-size: 16px;
}

.roboto .bold-font {
    font-family: 'roboto';
    font-weight: bold;
    font-size: 18px;
}

.color-container {
    display: flex;
    justify-content: space-evenly;
}
/*COLORS SECTION*/
.color-yellow, .color-blue, .color-red, .color-gray {
    /*display: inline-block; */
    margin-right: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 15%;
    border: 3px solid #a2a2a6;
    padding: 10px;
    width: 200px;
    height: 200px;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: 28px;
}


.color-yellow {
    background-color: #FFFF33;
}

.color-blue {
    background-color: #0000FF;
}

.color-red {
    background-color: #FF0000;
}

.color-gray {
    background-color: #444444;
}

